[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cp4p"]
	path = cp4p
	url = https://github.com/cran/cp4p
[submodule "imp4p"]
	path = imp4p
	url = https://github.com/cran/imp4p
